- layout :default
:javascript
  $(document).ready(function() {
    $("#author_table").tablesorter({sortList: [[1, 0]]});
    $("#year_table").tablesorter({sortList: [[0, 0]]});
    $("#month_table").tablesorter({sortList: [[0, 0]]});
    $("#yearmonth_table").tablesorter({sortList: [[0, 0]]});
  });
%table#author_table.tablesorter
  %thead
    %tr
      %th Author
      %th Commits
      %th Files added
      %th Files deleted
      %th Lines added
      %th Lines deleted
  %tbody
    - stats.author_stats.authors.each do |author, commits|
      %tr
        %td&= author
        %td&= commits.commits
        %td&= commits.files_added
        %td&= commits.files_deleted
        %td&= commits.lines_added
        %td&= commits.lines_deleted
%table#year_table.tablesorter
  %thead
    %tr
      %th Year
      %th Commits
      %th Files added
      %th Files deleted
      %th Lines added
      %th Lines deleted
  %tbody
    - stats.year_stats.years.each do |year, commits|
      %tr
        %td&= year
        %td&= commits.commits
        %td&= commits.files_added
        %td&= commits.files_deleted
        %td&= commits.lines_added
        %td&= commits.lines_deleted
%table#month_table.tablesorter
  %thead
    %tr
      %th Month
      %th Commits
      %th Files added
      %th Files deleted
      %th Lines added
      %th Lines deleted
  %tbody
    - stats.month_stats.months.each do |month, commits|
      %tr
        %td&= month
        %td&= commits.commits
        %td&= commits.files_added
        %td&= commits.files_deleted
        %td&= commits.lines_added
        %td&= commits.lines_deleted
%table#yearmonth_table.tablesorter
  %thead
    %tr
      %th Year-Month
      %th Commits
      %th Files added
      %th Files deleted
      %th Lines added
      %th Lines deleted
  %tbody
    - stats.yearmonth_stats.yearmonths.each do |yearmonth, commits|
      %tr
        %td&= yearmonth
        %td&= commits.commits
        %td&= commits.files_added
        %td&= commits.files_deleted
        %td&= commits.lines_added
        %td&= commits.lines_deleted
