:javascript
  $(document).ready(function() {
    $("#month_table").tablesorter();
  });
- block(:commits_per_month) do
  .blockdiagram
    %img{ :src => 'commits_per_month.png' }
  %a.toggle{:href => '#'} Table
  .blocktable.toggleable
    %table#month_table.tablesorter.striped
      %thead
        %tr
          %th Month
          %th Commits
          %th Files added
          %th Files deleted
          %th Lines added
          %th Lines deleted
      %tbody
        - stats.month_stats.each do |month, commits|
          %tr
            %td&= monthname(month)
            %td&= commits.commits
            %td&= commits.files_added
            %td&= commits.files_deleted
            %td&= commits.lines_added
            %td&= commits.lines_deleted
