:javascript
  $(document).ready(function() {
    $("#year_table").tablesorter({sortList: [[0, 1]]});
  });
- block(:commits_per_year) do
  .blockdiagram
    %img{ :src => 'commits_per_year.png' }
  %a.toggle{:href => '#'} Table
  .blocktable.toggleable
    %table#year_table.tablesorter.striped
      %thead
        %tr
          %th Year
          %th Commits
          %th Files added
          %th Files deleted
          %th Lines added
          %th Lines deleted
      %tbody
        - stats.year_stats.each do |year, commits|
          %tr
            %td&= year
            %td&= commits.commits
            %td&= commits.files_added
            %td&= commits.files_deleted
            %td&= commits.lines_added
            %td&= commits.lines_deleted
