:javascript
  $(document).ready(function() {
    $("#yearmonth_table").tablesorter({sortList: [[0, 1]]});
  });
- block(:commits_per_yearmonth) do
  .blockdiagram
    %img{ :src => 'commits_per_yearmonth.png' }
  %a.toggle{:href => '#'} Table
  .blocktable.toggleable
    %table#yearmonth_table.tablesorter.striped
      %thead
        %tr
          %th Year-Month
          %th Commits
          %th Files added
          %th Files deleted
          %th Lines added
          %th Lines deleted
      %tbody
        - stats.yearmonth_stats.each do |yearmonth, commits|
          %tr
            %td&= yearmonth
            %td&= commits.commits
            %td&= commits.files_added
            %td&= commits.files_deleted
            %td&= commits.lines_added
            %td&= commits.lines_deleted
